html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #ddd;
}

.header {
  background: white;
  color: #333;
  position: fixed;
  left: 0;
  right: 0;
  height: 40px;
  top: 0;
}

.header-content {
  max-width: 930px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.main-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav > ul > li {
  display: inline-block;
}

main {
  border: 3px dashed red;
  margin: 4rem auto;
  max-width: 930px;
}

.logo {
  border-radius: 50%;
  width: 152px;
}

.user-info {
  border: 3px dashed blue;
}

.news-feed {
  border: 3px dashed blue;
}
